<h5>Dodavanje casopisa</h5>
<div> 
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>
    <table>
      <tr><th colspan="2">Naucne oblasti</th></tr>
      <tr *ngFor="let field of listaOblasti" >
        <td><label for={{field.name}}>{{field.name}}</label></td>
        <td><input type="checkbox" name={{field.name}} ngModel></td>
      </tr>
      <tr><th colspan="2">Nacini placanja</th></tr>
      <tr *ngFor="let field of listaPlacanja" >
        <td><label for={{field.name}}>{{field.name}}</label></td>
        <td><input type="checkbox" name={{field.name}} ngModel></td>
      </tr>
      <tr><th colspan="2">Podaci</th></tr>
      <tr *ngFor="let field of formFields">
          <td><label for={{field.id}}>{{field.label}}</label></td>
          <td *ngIf="field.type.name=='boolean'"><input type="checkbox" name={{field.id}} ngModel></td>
          <td *ngIf="field.type.name=='string'"><input type="text" name={{field.id}} [(ngModel)]=field.value.value ngModel></td>
          <td *ngIf="field.type.name=='long'"><input type="number" name={{field.id}} [(ngModel)]=field.value.value ngModel></td>
          <td *ngIf="field.type.name=='enum'"><select name={{field.id}} ngModel>
            <option *ngFor="let val of enumValues[field.id]" value={{val}}>
              {{field.type.values[val]}}
            </option>
          </select></td>
      </tr>
      <tr><td colspan="2"><input type="submit"></td></tr>
    </table>
  </form>
</div>
<div>
  <label class="error">{{message}}</label>
</div>
