<h5>Obrada teksta</h5>
<div> 
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>
    <table>
      <tr><th colspan="2">Podaci</th></tr>
      <tr *ngFor="let field of formFields">
          <td><label for={{field.id}}>{{field.label}}</label></td>
          <td *ngIf="field.type.name=='boolean'"><input type="checkbox" name={{field.id}} ngModel></td>
          <td *ngIf="field.type.name=='string'"><input type="text" name={{field.id}} ngModel></td>
          <td *ngIf="field.type.name=='long'"><input type="number" name={{field.id}} ngModel></td>
          <td *ngIf="field.type.name=='enum'"><select name={{field.id}} ngModel>
            <option *ngFor="let val of listaCasopisa" value={{val.naziv}}>
              {{val.naziv}}
            </option>
          </select></td>
      </tr>
      <tr><td colspan="2"><input type="submit"></td></tr>
    </table>
  </form>
</div>
<div>
  <label class="error">{{message}}</label>
</div>
